body {
  background-color: #cdad77ff;
}
.navbar {
  background-color: #435433ff;
  color: #fff;
}
.navbar-brand {
  color: #cdad77ff;
  font-family: "Italianno", cursive;
  font-size: 25px;
}
.navbar-brand:hover {
  color: #fff;
}
.nav-link {
  color: #fff;
  font-family: "Crimson Text", serif;
  align-content: flex-end;
  font-size: 20px;
}
.nav-link:hover {
  color: #f7c162ff;
}
.container {
  margin-top: 0px;
  background-image: url("../images/pizza2.jpg");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

  /* background-color: #4a7c59ff ; */
}

#thankyou{
  display: none;
}

#buttonContainer {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: #435433ff;
  color: #fff;
  font-family: "Crimson Text", serif;
  margin: auto;
}
.alert {
  display: none;
}

/* order page */

.modal-header {
  color: #cdad77ff;
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 30px;
}

/*.modal-body{
     display: flex;
    align-content: center;
    justify-content: center; 
}*/
.orderContainer {
  flex-direction: column;
}
#pizzaCol {
  display: flex;
  justify-content: center;
}
#pizzaGraphic {
  max-width: 50%;
  max-height: 50%;
  z-index: 1;
}

#peppLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#peppRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

#sausageLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#sausageRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

#hamLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#hamRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

#baconLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#baconRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

#shrimpLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#shrimpRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

#pineappleLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#pineappleRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

#bellLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#bellRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

#mushroomLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#mushroomRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

#oliveLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#oliveRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

#cheetoLeft{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  right: 233px;
  z-index: 2;
  display: none;
}

#cheetoRight{
  max-width: 50%;
  max-height: 90%;
  position: absolute;
  top: 10px;
  left: 233px;
  z-index: 2;
  display: none;
}

.sectionHead {
  font-family: "Italianno", cursive;
  font-size: 30px;
  color: #790209ff;
  display: flex;
  justify-content: center;
}
#toppingsContainer {
  direction: flex;
  flex-direction: row;
}
.custom-control-label {
  font-family: "Crimson Text", serif;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #435433ff;
}
.custom-switch
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(205, 173, 119, 1);
}
.custom-switch .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.custom-switch .custom-control-input:active ~ .custom-control-label::before {
  background-color: #cdad77ff;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #435433ff;
}
.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(205, 173, 119, 1);
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #cdad77ff;
}
.form-group {
  font-family: "Crimson Text", serif;
}
/* .form-control{
    display: none;
  } */
/* .btn-group{
    display: none;
  } */
#menu1,
#menu2,
#menu3,
#menu4,
#menu5,
#menu6,
#menu7,
#menu8,
#menu9,
#menu10 {
  display: none;
}
#sel1 {
  display: block;
}
#specialDeal {
  cursor: none;
  display: none;
}

#deal{
  display: none;
  text-align: center;
  color: #000;
  font-family: "Crimson Text", serif;
  font-size: 15px;
}
#totalText{
  margin-left: 195px;
  align-content: center;
  text-align: center;
  color: #000;
  font-family: "Crimson Text", serif;
  font-size: 20px;
}
#text{
  text-align: center;
}
#promise {
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 50px;
  margin-top: 20px;
  color: #790209ff;
}
#promiseText {
  text-align: center;
  color: #000;
  font-family: "Crimson Text", serif;
  padding-bottom: 30px;
}
/* --kombu-green: #263413ff;
--rifle-green: #435433ff;
--bistre: #402F20ff;
--rosewood: #5C080Dff;
--up-maroon: #790209ff;
--light-french-beige: #CDAD77ff; */
