body{
    background-color: #CDAD77ff;
   
}
.navbar{
    background-color: #435433ff;
    color: #fff;
}
.navbar-brand{
    color: #CDAD77ff;
    font-family: 'Italianno', cursive;
    font-size: 25px;
}
.navbar-brand:hover{
    color: #fff;
}
.nav-link{
    color: #fff;
    font-family: 'Crimson Text', serif;
    align-content: flex-end;
    font-size: 20px;
}
.nav-link:hover{
    color: #f7c162ff;
}
.container{
    margin-top: 0px;
    background-image: url('../images/pizza2.jpg');
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
   
    /* background-color: #4a7c59ff ; */
}
#buttonContainer{
    height: 500px;
    display: flex;        
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #435433ff;
    color: #fff;
    font-family: 'Crimson Text', serif;
    margin: auto;
}
.alert{
  display: none;
}

/* order page */



.modal-header{
    color: #CDAD77ff;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 30px;
}

/*.modal-body{
     display: flex;
    align-content: center;
    justify-content: center; 
}*/
.orderContainer{
    flex-direction: column;
}
#pizzaCol{
    display: flex;
    justify-content: center;
}
#pizzaGraphic{
    max-width:50%;
    max-height:50%;
}
.sectionHead{
    font-family: 'Italianno', cursive;
    font-size: 30px;
    color:#790209ff;
    display: flex;
    justify-content: center;
}
#toppingsContainer{
    direction: flex;
    flex-direction: row;
}
.custom-control-label{
    font-family: 'Crimson Text', serif;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color:#435433ff;
  }
  .custom-switch .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(205, 173, 119, 1.0)
  }
  .custom-switch .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  }
  .custom-switch .custom-control-input:active ~ .custom-control-label::before {
    background-color: #CDAD77ff;
  }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color:#435433ff;
  }
  .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(205, 173, 119, 1.0)
  }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  }
  .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #CDAD77ff;
  }
  .form-group{
    font-family: 'Crimson Text', serif;
  }
  /* .form-control{
    display: none;
  } */
  /* .btn-group{
    display: none;
  } */
   #menu1, #menu2, 
   #menu3, #menu4, #menu5, 
   #menu6, #menu7, #menu8, 
   #menu9, #menu10{
    display:none;
  }
  #sel1{
      display: block;
  }
  #specialDeal{
    cursor: none;
    display: none;
  }

  #promise{
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 50px;
    margin-top: 20px;
    color:#790209ff;
  }
  #promiseText{
    text-align: center;
    color:#000;
    font-family: 'Crimson Text', serif;
    padding-bottom: 30px;
  }
/* --kombu-green: #263413ff;
--rifle-green: #435433ff;
--bistre: #402F20ff;
--rosewood: #5C080Dff;
--up-maroon: #790209ff;
--light-french-beige: #CDAD77ff; */
