body{
    background-color: #78945fff;
   
}
.navbar{
    background-color: #ba1200ff;
    color: #fff;
}
.navbar-brand{
    color: #f7c162ff;
    font-family: 'Italianno', cursive;
    font-size: 25px;
}
.navbar-brand:hover{
    color: #fff;
}
.nav-link{
    color: #fff;
    align-content: flex-end;
}
.nav-link:hover{
    color: #f7c162ff;
}
.container{
    background-image: url('../images/pizza1.jpg');
    width: 100%;
    height: 100%;
    /* background-color: #4a7c59ff ; */
}
#buttonContainer{
    height: 500px;
    display: flex;        
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #ba1200ff;
    color: #fff;
    margin: auto;
}

/* order page */

#orderContainer{
    margin-top: 20px;
    background-color: #fff;
    height: 500px;
    border-radius: 15px;
}


/* CSS HEX */
/* --international-orange-engineering: #ba1200ff;
--sinopia: #cc441cff;
--maximum-yellow-red: #f7c162ff;
--russian-green: #78945fff;
--blue-sapphire: #0b5d83ff; */